.nav-bar {
  display : none;
}

.nav-bar {
  position   : relative;
  height     : 22px;
  padding    : 8px;
  color      : white;
  background : linear-gradient(
                 45deg,
                 #188FFF 0%,
                 #0036B0 100%
               );
}

.nav-bar span {
  position   : absolute;
  top        : 0;
  left       : 0;
  height     : 100%;
  color      : white;
  border     : none;
  background : none;
  font-size  : 18px;
}

.nav-bar span img {
  height : 100%;
}

.nav-bar h3 {
  margin    : 0;
  font-size : 15px;
}

.nameAndRec--mobile {
  display : none;
}

.nameAndRec--desktop {
  display : block;
}

@media
  screen
  and (max-width : 767px) {
  .totalViewContainer {
    display   : block !important;
    min-width : 355px;
  }

  .mainGameArea {
    display : none;
  }

  .totalViewContainer .gamesSideBar {
    display : none;
  }

  .totalViewContainer .liveData .top {
    display : block;
  }

  .totalViewContainer .liveData .top-left,
  .totalViewContainer .liveData .top-right {
    min-width : 0;
    max-width : none;
    padding   : 0;
  }

  .totalViewContainer .liveData .scoringRow>h4 {
    min-width : 35px;
    padding   : 0;
  }

  .totalViewContainer .rinkMap {
    padding : 2px;
  }

  .mainGameArea.mobileActive {
    display : block;
  }

  .gamesSideBar.mobileActive {
    display : flex;
  }

  .nav-bar {
    display         : flex;
    align-items     : center;
    justify-content : center;
  }

  .gamesSideBar {
    padding : 0 !important;
  }

  .disclaimer,
  .gamesScroll,
  .gamesSideBar {
    width      : 100% !important;
    max-height : 100% !important;
  }

  .totalViewContainer .gamesScroll {
    margin-top : 0;
  }

  .gamesScroll h3 {
    height      : 30px;
    line-height : 30px;
  }

  .bannerGroup {
    position : absolute;
    top      : 0;
    width    : 50%;
    height   : 48px;
  }

  .bannerGroup.home {
    left : 0;
  }

  .bannerGroup.away {
    right : 0;
  }

  .bannerContainer .bannerGroup img {
    width  : 35px;
    height : 35px;
  }

  .bannerContainer .bannerGroup .bannerLabel {
    margin    : 3px;
    font-size : 8px;
  }

  .timeAndScore {
    width      : 100%;
    margin-top : 48px;
    background : rgba(0,0,0,0.9) !important;
    flex       : auto !important;
  }

  .bannerContainer .bannerGroup h2 {
    padding     : 0 4px;
    font-size   : 28px;
    line-height : 48px;
  }

  .bannerContainer .bannerGroup .logoPPBadge {
    padding   : 2px;
    font-size : 13px;
  }

  .bannerGroup h1 {
    /* display: none; */
  }

  .teamRecord {
    display : none;
  }

  .bannerContainer {
    height : auto !important;
  }

  .totalViewContainer .liveData .scoreData {
    display : block;
  }

  .totalViewContainer .liveData .assistData {
    display : flex;
    padding : 0;
    /* flex-wrap: nowrap; */
  }

  .totalViewContainer .liveData .assistData .assistOne,
  .totalViewContainer .liveData .assistData .assistTwo {
    width        : auto;
    padding-left : 0;
    font-size    : 0.7em;
  }

  .scoringRow img {
    margin : 0;
  }

  .scoringTable .scoringRow {
    height : auto;
  }

  .liveData .section-title {
    box-sizing : border-box;
    height     : 30px;
  }

  .eventRow,
  .liveData .latestPlays .eventRow,
  .liveData .scoringTable .scoringRow,
  .scoringRow {
    box-sizing : border-box;
  }

  .totalViewContainer .scoringRowScore span {
    min-width : 20px;
  }

  .liveData .buttonRow button {
    width         : 40%;
    height        : 30px;
    border-right  : 1px solid #d2d2d2;
    border-radius : 3px;
    font-size     : 13px;
  }

  .liveData .buttonRow {
    justify-content : space-evenly;
  }

  .__react_component_tooltip {
    display : none;
  }

  .liveData .gameRecap .description {
    display : none;
  }

  .liveData .blurb {
    position   : relative !important;
    color      : #262626;
    background : white !important;
  }

  .gameRecap img {
    display : none;
  }

  .liveData .gamePreview .description {
    position : relative;
  }

  .liveData .gamePreview h1,
  .liveData .gameRecap h1 {
    font-size : 15px;
  }

  .liveData .nameAndRec--mobile {
    display   : block;
    font-size : 15px;
  }

  .nameAndRec--desktop {
    display : none;
  }
}
