/* CSS for ActiveGameArea.js */
.bannerContainer {
  height: 80px;
  width: 100%;
  display: flex;
}

.bannerGroup {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.bannerGroup > h1 {
  /* width: 100%; */
  margin: 0 5px;
  color: white;
  font-weight: normal;
  text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.bannerGroup.home .bannerScore {
  margin-left: 20px;
}

.bannerGroup.away .bannerScore {
  margin-right: 20px;
}

.bannerGroup.away {
  justify-content: flex-start;
}

.bannerGroup.home {
  justify-content: flex-end;
}

.bannerGroup .bannerScore {
  width: 50px;
  height: 100%;
  background: #262626;
  color: white;
  display: flex;
  align-items: center;
}

.bannerScore h1 {
  /* width: 100%; */
}

.bannerContainer .scoreDivide {
  height: 100%;
  background: #ddd;
  width: 2px;
}

.bannerGroup img {
  height: 50px;
  min-width: 50px;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin: 10px;
}

.timeAndScore {
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
  /* min-width: 200px; */
  background: black;
  flex: 0 0 200px;
}

.timeAndScore h2 {
  color: white;
  background: #222;
  font-family: 'digital-font';
  font-weight: lighter;
  /* padding: 3px 0; */
  line-height: 80px;
  height: 100%;
  font-size: 2.5em;
  padding: 0 8px;
  min-width: 22px;
  margin: 0;
}

.timeAndScore h2:first-child {
  /* border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; */
}

.timeAndScore h2:last-child {
  /* border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; */
}

.bannerContainer .timeRemaining {
  /* min-width: 100px; */
  width: 100%;
  justify-content: center;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid white; */
  box-sizing: border-box;
  color: white;
  height: 100%;
  /* position: relative; */
  justify-content: space-between;
}

div[class*='inprogress'] .timeRemaining {
  font-family: 'digital-font', sans-serif;
  color: #ffd800;
}

.timeRemaining h1 span {
  /* font-size: 1.4em; */
  font-weight: lighter;
  padding-left: 5px;
}
.timeRemaining h1:first-child {
  /* font-size: 1.4em; */
  padding-left:0;
  font-weight: lighter;
}

.timeAndScore .timeRemaining h1 {
  margin:0;
  top:0;
  /* position: absolute; */
}

.timeAndScore.scheduled h1, .timeAndScore h1 {
font-size: 14px;
border-bottom: 1px solid #333;
/* padding: 8px 4px 4px 4px; */
width: 100%;
box-sizing: border-box;
}

.timeAndScore.scheduled h1 {
  padding: 8px 4px;
}

.timeAndScore.scheduled .venue {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.timeAndScore.scheduled span {
  width: 100%;
  color: #757575;
  font-size:11px;
}

.timeAndScore table, .timeAndScore th {
  font-size: 13px;
  font-weight: 300;
  /* height: 100% */
}

.timeAndScore th {
  color: #959595;
  font-size: 11px;
}

.timeAndScore table {
  margin: 0 auto;
}

.timeAndScore .bannerPeriodTable {
  display: flex;
  align-items: center;
  height: 100%
}
