.totalViewContainer {
  display: flex;
}

.gamesSideBar {
  width: 200px;
  margin-left: 0;
  /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
  max-height: 100vh;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

.gamesSideBar > img {
  width: 200px;
  height: 200px;
  box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.gamesScroll {
  overflow-y: auto;
  height: 100%;
  padding-right: 10px;
}

.mainGameArea {
  width: 100%;
}

.sideBarScore {
  display: flex;
}

.sideBarScore {
  display: flex;
}

.sideBarGame {
  border-bottom: 1px solid #ddd;
  padding: 4px;
  height: auto;
  min-height: 0;
}

.sideBarGame.active {
  background: #e6f2fa;
}

.sideBarGame .teamInfo {
  display: flex;
  width: 80px;
  align-items: center;
  padding: 2px;
}

.sideBarGame .teamInfo h2 {
  font-size: 0.9em;
  width: auto;
  margin: 0;
}

.sideBarGame .timeRemaining {
  box-sizing: border-box;
  background: none;
  border: none;
  /* width: 100%; */
}

.sideBarGame.gameDiv .timeRemaining h1 {
  color: #262626;
  font-family: sans-serif;
  font-size: 0.9em;
}

.sideBarGame .teamInfo h2:last-child {
  margin-left: auto;
}

.sideBarGame {
  display: flex;
  justify-content: space-between;
  /* align-items: flex-end; */
}
.sideBarGame:last-child {
  border-bottom: none;
}
.sideBarGame:hover {
  background: #e6f2fa;
  cursor: pointer;
}

.sideBarGame .homeLogo, .sideBarGame .awayLogo {
  height: 20px;
  width: 20px;
  margin-right: 6px;
}
