@font-face {
  font-family : 'digital-font';
  src         : url('./resources/digital-7.ttf');
}

.App {
  text-align : center;
}

.App-logo {
  height            : 80px;
  -webkit-animation : App-logo-spin infinite 20s linear;
  animation         : App-logo-spin infinite 20s linear;
}

.App-header {
  display         : flex;
  height          : 200px;
  padding         : 20px;
  color           : white;
  justify-content : center;
}

.App-header img {
  height : 100%;
}

.App-title {
  font-size : 1.5em;
}

.App-intro {
  font-size : large;
}

.nav-bar {
  display : none;
}

.section-title {
  display   : flex;
  height    : 20px;
  padding   : 5px;
  font-size : 13px;
  /* text-align: left; */
  /* border-bottom: 1px solid #e7e7e7; */
  /* width: 100%; */
}

.section-title h1 {
  /* height: 20px; */
  width       : 100%;
  margin      : 0;
  padding     : 2px;
  text-align  : left;
  font-size   : 1em;
  font-weight : bolder;
}

.container1 .gameDiv:last-child {
  /* margin-bottom: 10px; */
}

.container2 {
  margin : 0 10px;
}

.gamesContainer {}

.gameDiv {
  /* max-width: 800px; */
  display            : -ms-flexbox;
  -webkit-box-sizing : border-box;
  box-sizing         : border-box;
  min-height         : 180px;
  padding            : 10px;
  color              : #262626;
  overflow           : hidden;
  background         : #ddd;
  box-shadow         : 0 1px 3px rgba(0,0,0,0.12),
                       0 1px 2px rgba(0,0,0,0.24);
  -ms-flex-wrap      : wrap;
  flex-wrap          : wrap;
  justify-content    : center;
  /* display: inline-block; */
  /* border: 1px solid #605f5e; */
  /* border-radius: 10px; */
  /* margin-top: 10px; margin-right: 10px; */
  /* height: 450px; */
  /* transition: ease 0.3s all; */
}

.gameDiv.final,
.gameDiv.inprogress,
.gameDiv.inprogress-critical {
  /* padding-right: 0; */
}

.gameDiv.pre-game,
.gameDiv.scheduled {
  display : flex;
}

.gameDiv.final {
  background : #f7f7f7;
}

.gameDiv h2 {
  width : 100%;
}

.gameDiv>div {
  justify-content : space-around;
}

.gameDiv .awayLogo,
.gameDiv .homeLogo {
  position        : relative;
  width           : 80px;
  height          : 80px;
  overflow        : hidden;
  align-items     : center;
  justify-content : center;
}

.gameDiv .logoPPBadge {
  margin-left   : 3px;
  padding       : 1px 2px;
  color         : white;
  border-radius : 2px;
  background    : red;
  font-size     : 9px;
  white-space   : nowrap;
  /* font-weight: bold; */
  /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
}

.gameDiv .logoPPBadge span {
  position : relative;
  border   : none;
}

.gameDiv .logoPPBadge h4 {
  width       : 100%;
  margin      : 0;
  color       : white;
  background  : #ff0000;
  font-weight : bold;
}

.gameDiv img {
  width  : 20px;
  height : 20px;
}

.gameDiv .timeRemaining {
  display         : flex;
  display         : -ms-flexbox;
  width           : auto;
  color           : white;
  border          : 2px solid white;
  border-radius   : 10px;
  background      : #262626;
  align-items     : center;
  flex-wrap       : nowrap;
  justify-content : center;
  white-space     : nowrap;
  /* padding: 10px; */
}

div[class*='inprogress'] .timeRemaining {
  color       : #ffd800;
  font-family : 'digital-font',
                sans-serif;
}

.gameDiv .timeRemaining h1:last-child {
  padding-left : 6px;
  font-size    : 1.4em;
  font-weight  : lighter;
}

.teamNames {
  display         : flex;
  width           : 100%;
  height          : 80px;
  color           : #262626;
  align-items     : center;
  justify-content : space-around;
}

.liveData {
  width      : 100%;
  overflow-y : auto;
  background : white;
  transition : 0s ease height;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

.liveData .latestPlays {
  display     : block;
  display     : flex;
  align-items : center;
  flex-wrap   : wrap;
}

.liveData .latestPlays > span {
  width : 100%;
}

.eventRow,
.liveData .latestPlays .eventRow,
.liveData .scoringTable .scoringRow,
.scoringRow {
  display       : flex;
  position      : relative;
  width         : 100%;
  padding       : 5px;
  overflow      : hidden;
  border-bottom : 1px solid #e7e7e7;
  background    : white;
  align-items   : center;
  /* height: 30px; */
  /* box-sizing: border-box; */
}

.scoringRowScore {
  white-space : nowrap;
}

.scoringRowScore span {
  display    : inline-block;
  min-width  : 24px;
  padding    : 3px 0;
  color      : white;
  text-align : center;
}

.eventRow img,
.scoringRow img {
  width         : 32px;
  height        : 32px;
  margin-right  : 3px;
  border-radius : 16px;
  flex-shrink   : 0;
}

.penaltyTable .scorer {
  overflow      : hidden;
  text-overflow : ellipsis;
}

span .eventRow:first-child {
  border-top : 1px solid #e7e7e7;
}

.liveData .latestPlays button {
  /* display:none; */
}

.eventRow p {
  margin    : 0;
  font-size : 12px;
}

.eventRow .eventTimeAndScore {
  display      : flex;
  min-width    : 50px;
  margin-right : 3px;
  color        : #999;
  align-items  : baseline;
}

.eventRow p:last-child {
  display      : block;
  width        : 100%;
  margin       : 0;
  padding-left : 3px;
  overflow     : hidden;
  text-align   : left;
  /* text-overflow: ellipsis; */
  /* white-space: nowrap; */
  /* font-size: 0.8em; */
}

.liveData .top {
  display : flex;
  /* margin-right: 10px; */
  /* flex-wrap: wrap; */
}

.liveData .top-left {
  width     : 100%;
  min-width : 480px;
  padding   : 5px;
}

.pre-game .top-left,
.scheduled .top-left {
  width     : 100%;
  min-width : 280px;
}

.liveData .top-right {
  width     : 100%;
  max-width : 290px;
  padding   : 5px;
}

.liveData .bottom {
  display    : block;
  margin-top : 0;
  transition : ease 0.8s height;
}

.liveData.expanded-game .bottom {
  margin-top : 10px;
}

.inprogress-critical .dataToggleButton,
.inprogress .dataToggleButton {
  /* background: #605f5e; */
}

.dataToggleButton {
  display     : flex;
  width       : 100%;
  align-items : center;
}

.dataToggleButton h2 {
  height        : 28px;
  margin        : 10px 0 0;
  color         : #262626;
  border-radius : 10px;
  background    : white;
  box-shadow    : 0 1px 3px rgba(0,0,0,0.12),
                  0 1px 2px rgba(0,0,0,0.24);
  transition    : all 0.3s cubic-bezier(.25,.8,.25,1);
  /* height: 100%; */
}

.dataToggleButton h2:hover {
  box-shadow : 0 14px 28px rgba(0,0,0,0.25),
               0 10px 10px rgba(0,0,0,0.22);
  cursor     : pointer;
  /* font-size: 1.6em; */
}

.liveData .bottomData {
  background : white;
  box-shadow : 0 1px 3px rgba(0,0,0,0.12),
               0 1px 2px rgba(0,0,0,0.24);
  transition : 0.8s ease all;
}

.liveData.expanded-game .bottom .bottomData {
  /* padding-top: 6px; */
  display    : flex;
  box-sizing : border-box;
  opacity    : 1;
}

.liveData.normal-game .bottom .bottomData {
  display : none;
  opacity : 0;
}

.liveData.expanded-game .bottomData {
  display   : flex;
  overflow  : hidden;
  flex-wrap : wrap;
}

.gameDiv.pre-game .liveData,
.gameDiv.scheduled .liveData {
  height : 100%;
}

.gameDiv.pre-game .top,
.gameDiv.scheduled .top {
  height : 100%;
}

.gameDiv.pre-game .top-left,
.gameDiv.scheduled .top-left {
  display     : flex;
  height      : 100%;
  align-items : center;
  flex-wrap   : wrap;
}

.gameDiv.pre-game .bottom,
.gameDiv.scheduled .bottom {
  display : none;
}

.gameDiv.final .latestPlays,
.gameDiv.pre-game .latestPlays,
.gameDiv.scheduled .latestPlays {
  display : none;
}

.gameDiv.pre-game .dataToggleButton,
.gameDiv.scheduled .dataToggleButton {
  display : none;
}

.gameDiv .scoringTable {
  color      : #262626;
  background : white;
  box-shadow : 0 1px 3px rgba(0,0,0,0.12),
               0 1px 2px rgba(0,0,0,0.24);
}

.liveData .no-scoring-message {
  height     : 100%;
  margin     : 10px;
  text-align : center;
}

.periodHeader {
  color     : #787d82;
  font-size : 11px;
}

.periodSection {
  margin-bottom : 20px;
}

.liveData .scoringTable {
  display         : block;
  width           : 100%;
  color           : #262626;
  flex-wrap       : wrap;
  justify-content : center;
}

.shootOutSection .soTables {
  display         : flex;
  margin          : 5px 0;
  font-size       : 0.8em;
  justify-content : space-around;
}

.shootOutSection table {
  width : 50%;
}

.shootOutSection thead tr {
  height : 30px;
}

.shootOutSection thead tr span {
  font-size : 20px;
}

.shootOutSection tr {
  height : 40px;
}

.shootOutSection thead img {
  height : 30px;
}

.liveData .scoringRow {
  display     : flex;
  box-sizing  : border-box;
  position    : relative;
  width       : 100%;
  height      : 40px;
  align-items : center;
}

.liveData .scoringRow .emptyNet,
.liveData .scoringRow .goalStrength {
  padding-left : 6px;
  font-size    : 0.8em;
}

.liveData .scoringRow:first-child {
  height     : 26px;
  border-top : 1px solid #e7e7e7;
}

.liveData .scoringRow.headerRow {
  border-bottom   : 1px solid #ddd;
  align-items     : center;
  justify-content : center;
}

.liveData .scoringRow>h4 {
  box-sizing  : border-box;
  min-width   : 50px;
  margin      : 0;
  padding     : 0 6px 0 4px;
  text-align  : center;
  font-size   : 13px;
  font-weight : normal;
  line-height : 100%;
}

.liveData .scoreTime {
  display       : flex;
  right         : 0;
  width         : auto;
  padding-right : 3px;
  align-items   : baseline;
  white-space   : nowrap;
}

.liveData .scoreTime h4 {
  margin      : 0;
  font-weight : lighter;
}

.liveData .scoringRow .scorer {
  margin      : 0;
  text-align  : left;
  font-size   : 0.8em;
  white-space : nowrap;
}

.liveData .scoreData {
  display      : flex;
  width        : 100%;
  min-width    : 0;
  padding-left : 6px;
  align-items  : center;
  white-space  : nowrap;
}

.liveData .scoringRow .assistOne,
.liveData .scoringRow .assistTwo {
  width       : 100%;
  margin      : 0;
  padding     : 0 6px;
  text-align  : left;
  font-size   : 0.8em;
  font-weight : lighter;
}

.liveData .assistData {
  display      : flex;
  width        : 100%;
  padding-left : 6px;
  flex-wrap    : wrap;
}

.liveData .boxScore {
  width  : 100%;
  height : 100%;
  color  : #262626;
}

.boxScore table {
  width           : 100%;
  border-collapse : collapse;
  border-spacing  : 0;
  font-size       : 13px;
}

.boxScore table thead th {
  padding     : 8px 10px;
  color       : white;
  font-size   : 11px;
  font-weight : normal;
}

.boxScore table td:first-child {
  min-width     : 85px;
  max-width     : 90px;
  padding       : 6px 10px;
  text-overflow : ellipsis;
  white-space   : nowrap;
}

.boxScore table td {
  padding-right : 10px;
  padding-left  : 10px;
}

.boxScore table tbody tr {
  border-top : 1px solid #e7e7e7;
}

.boxScore table tbody tr:first-child {
  border-top : none;
}

.scoringTable .simplebar-content {
  margin-right : 10px!important;
}

.simplebar-scrollbar:before {
  opacity    : 1;
  background : #ddd;
}

.liveData .simplebar-track .simplebar-scrollbar.visible:before {
  opacity : 1;
}

.boxScore .simplebar-track.vertical {
  border        : 1px solid #ddd;
  border-top    : none;
  border-bottom : none;
}

.buttonRow {
  display       : flex;
  width         : 100%;
  margin-bottom : 5px;
}

.buttonRow button {
  width      : 100%;
  padding    : 3px;
  color      : #262626;
  border     : 1px solid #d2d2d2;
  background : none;
  cursor     : pointer;
}

.buttonRow button:first-child {
  border-right : none;
}

.buttonRow button.active {
  background : #e0e0e0;
}

.buttonRow button:focus {
  outline : none;
}

.container1 {}

.latestPlaysTransitionGroup-enter {
  opacity : 0.01;
}

.latestPlaysTransitionGroup-enter.latestPlaysTransitionGroup-enter-active {
  opacity    : 1;
  transition : opacity 500ms ease-in;
}

.latestPlaysTransitionGroup-leave {
  opacity : 1;
}

.latestPlaysTransitionGroup-leave.latestPlaysTransitionGroup-leave-active {
  opacity    : 0.01;
  transition : opacity 300ms ease-in;
}
